.banners-right.pull-right
  = render 'portada/right_banners'
.content.portada.pull-left
  = render 'portada/section_a'
  .clearfix
  = link_to image_tag('banners/banner_e.gif'), '#', class: 'banners'
  = render 'portada/dato_del_dia'
  = render 'portada/section_b'
  = link_to image_tag('banners/banner_i.gif'), '#', class: 'banners'
  = render 'portada/sociales'
  = link_to image_tag('banners/banner_l.gif'), '#', class: 'banners'
  = render 'portada/policiacas'

= render 'portada/dod-policiaca'